body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(196, 146, 40);
}

.backgroundContrastCSS{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.788) 50%,rgb(247, 245, 245)  50%);
}

.containerPlayer{
font-size: 8rem;
}

h1, h2{
font-size: 50px;
font-weight: 300;
}
.currentplayer1Score{
color: rgba(255, 255, 255, 0.877);
}
.currentPlayer2Score{
color: rgba(247, 245, 245, 0.959) ;
}

.currentPlayerSticker{
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 5px;
}

@keyframes diceBlink {
  0% { opacity: 0; }
  40% { opacity: 1.5; }
  70% { opacity: 0; }
  100% { opacity: 1.5; }
}

.diceOne {
  animation: diceBlink 1s infinite;
}


.alert {
        position: fixed;
        top: 40%;
        left: 40%;
        width: 300px;
        padding: 10px;
        z-index: 9999;
        animation: blink 5s linear infinite;
        box-shadow: 0 0 10px rgba(255, 191, 0, 0.3); 
        font-size: 40px; 
      }

  @keyframes blink {
    0% {
      background-color:  #50793f;
    }
    50% {
      background-color: #00ffbf93;
    }
    100% {
      background-color: #ffbf0093; 
    }
  }

  .blink {
    animation: blink 5s linear infinite;
  }
  